/*******************

Variables

*******************/

$ui-color-primary : #090979;
$ui-color-secondary : #00d4ff;

$ui-margin: 30px;
$ui-cubic-bezier: cubic-bezier(0.390, 0.575, 0.565, 1.000);
$ui-animation-duration : 0.4s;

$ui-typography : 'Montserrat', 'Lato', 'Arial', sans-serif;

$ui-start-opacity : 0;
$ui-start-scale : 0.4;

$ui-size-menu: 70%;
    
/*******************

Fonctions

*******************/

@mixin bp-xlarge {
  @media only screen and (min-width: 85rem) {
    @content;
  }
}

@mixin bp-large {
  @media only screen and (min-width: 64rem) {
    @content;
  }
}

@mixin bp-medium {
  @media only screen and (min-width: 48rem) {
    @content;
  }
}
@mixin bp-max-medium {
  @media only screen and (max-width: 48rem) {
    @content;
  }
}

@mixin bp-small {
  @media only screen and (min-width: 26rem) {
    @content;
  }
}